<div class="sitter-index">

  <div class="sitter-info">
    <h3>Sitter Info</h3>
    <% email = @sitter.email.split('@')[0] %>
    <h4> Email: <%= @sitter.email %> </h4>
  </div>

  <div class="remove-sitter-option">
    <%= link_to "Remove #{email.capitalize}", "/sitters/#{@sitter.id}", method: :post, class: 'remove-button right' %>
  </div>

  <div class="requested-sitters">
    <% if @requests.empty?%>
    <p> No current requests for <%=@sitter.email.split('@')[0]%> </p>
    <% else %>
      <h4> Requested for: </h4>
        <% @requests.each do |request| %>
          <br>
          <%= request.start_time.strftime("%B %d %I:%M %p") %> - <%= request.end_time.strftime("%I:%M %p") %>
          - $<%= request.cost %>
          <br>
          <%= link_to 'Delete Request', request_path(request), method: :delete, data: { confirm: "Are you sure you don't need them anymore? "} %>
        <% end %>
    <% end %>
  </div>

  <div class="request-form">
    <h4> Start New Request </h4>
    <%= form_with(model: Request.new, local: true) do |f| %>
    <br>
    <%= f.label "From", class: 'form-label' %>
    <%= f.datetime_select :start_time, :default => Time.now, ampm: true, discard_year: true %>
    <br>
    <%= f.label "Until", class: 'form-label' %>
    <%= f.datetime_select :end_time, :default => Time.now, ampm: true, discard_year: true %>
    <br>
    <%= f.label "Cost", class: 'form-label' %>
    <span>$<%= f.number_field :cost, :class=> "text-area" %></span>
    <%= f.hidden_field :sitter_email, :value => @sitter.email %>
    <br>
    <%= f.submit "Request #{email.capitalize}", :class=> "submit-button right"  %>
    <% end %>
    <br>
  </div>
  <div>
    <h3> Notes: </h3>
      <% @notes.each do |note| %>
      <ul class="note-list">
        <%= note.text %>
        <%= link_to '- remove', note_path(note), class: 'remove-note', method: :delete, data: { confirm: "Are you sure you don't need this anymore?"} if note.parent_id == current_parent.id %> </button>
      </ul>
      <% end %>
  </div>
  <div>
    <h3> Add New Note: </h3>
    <h5> Notes are anonymous, but please only leave helpful notes!</h5>
    <%= form_with(model: Note.new, local: true) do |f| %>
    <%= f.hidden_field :sitter_id, :value => @sitter.id %>
    <%= f.text_area(:text, size: '70x12', placeholder: "Add a note about this sitter.", :class=> "text-area") %>
    <%= f.submit "Add Note", :class=> "submit-button"  %>
    <% end %>
    <br>

  </div>

</div>
