<!-- parent views -->
<% if current_parent %>

  <p> Signed in as: <%= @parent.email %> </p>

  <% @current_time = Time.new %>

  <%= month_calendar do |date| %>
    <div class="cal-day"> <%= date.day %> </div>
  <% end %>

  <div>
    Your babysitters:
    <% if @sitters.empty? %>
      <p> No sitters yet. </p>
    <% else %>
      <% @sitters.each do |sitter| %>
        <%= link_to sitter.email, sitters_path(sitter) %>
        <br>
        <% end %>
    <% end %>
  </div>

  <%= link_to 'Add Sitters', @parent %>

<% else %>

<!-- Sitter Views -->

  <p> Signed in as: <%= @sitter.email %> </p>

  <% @current_time = Time.new %>

  <%= month_calendar do |date| %>
    <div class="cal-day"> <%= date.day %> </div>
  <% end %>

  <div>
    Your clients:
    <% if @parents.empty? %>
      <p> No sitters yet. </p>
    <% else %>
      <% @parents.each do |parent| %>
        <%= link_to parent.email, parents_path(parent) %>
        <br>
        <% end %>
    <% end %>
  </div>

  <div class="request-box">
    <%= link_to 'Request Client' %>
  </div>

<% end %>
