<% @current_time = Time.new %>
<% @today = @current_time.day %>
<% @this_month = @current_time.month %>
<!-- parent views -->
<% if current_parent %>

<div class="page">

  <div class="calendar">
    <%= month_calendar events: @gigs do |date, gigs| %>
    <% @date_month = date.month %>
    <% @date_day = date.day %>
      <div class="cal-day <%= 'current-day' if @date_day == @today && @date_month == @this_month %> <%= 'not-current-month' if @date_month != @this_month %> "> <%= date.day %>
        <br>
        <% gigs.each do |gig| %>
          <% if gig.sitter_id.nil? %>
            <div class="open">
              <% @gig_time = gig.start_time.strftime("%I:%M") %>
              <% if @gig_time.split('')[0] == "0" %>
                <%= link_to @gig_time.slice(1,@gig_time.length), gig_path(gig) %>
              <% else %>
                <%= link_to @gig_time, gig_path(gig) %>
              <% end %>
            </div>
          <% else %>
          <% @gig_sitter = Sitter.where(id: gig.sitter_id).last %>
            <div class="taken">
              <% @gig_time = gig.start_time.strftime("%I:%M") %>
              <% if @gig_time.split('')[0] == "0" %>
                <%= link_to @gig_time.slice(1,@gig_time.length), gig_path(gig) %>
              <% else %>
                <%= link_to @gig_time, gig_path(gig) %>
              <% end %>
              - <%= link_to @gig_sitter.email.split('@')[0], sitters_path(@gig_sitter.id)  %>
            </div>
          <% end %>
        <% end %>
      </div>

    <% end %>
  </div>

  <div class="babysitting-actions">
    <p> <%= link_to 'Add Babysitting Gig', new_gig_path, class: 'babysitter-action-buttons' %> </p>

    <p> <%= link_to 'Add New Sitter', @parent, class: 'babysitter-action-buttons' %> </p>

    <p> <%= link_to 'View My Profile', parent_path(@parent), class: 'babysitter-action-buttons' %> </p>

  </div>
</div>

<div class="sitter-box">
  <br>
  <div class="client-box">
    <h3>Your babysitters:</h3>
      <div class="babysitter-list">
        <% if @sitters.empty? %>
          <p> No sitters yet. </p>
        <% else %>
          <% @sitters.each do |sitter| %>
            <div class='sitter-list-email'>
              <%= link_to sitter.email, sitters_path(sitter), class: 'sitter-list-email hover-text' %>
            </div>
            <% end %>
        <% end %>
      </div>
  </div>
</div>

<% else %>

<!-- Sitter Views -->
  <div class="page">

    <p> Signed in as: <%= @sitter.email %> </p> <%= link_to 'My Profile', sitter_path(@sitter), class: 'submit-button'%>

    <% @current_time = Time.new %>

    <%= month_calendar events: @gigs do |date, gigs| %>
    <% @date_month = date.month %>
    <% @date_day = date.day %>
      <div class="cal-day <%= 'current-day' if @date_day == @today && @date_month == @this_month %> <%= 'not-current-month' if @date_month != @this_month %> "> <%= date.day %>
        <br>
        <% gigs.each do |gig| %>
        <% @gig_parent = Parent.where(id: gig.parent_id).last %>
        <% @parent_email = @gig_parent.email.split('@')[0]%>
        <% @gig_time = gig.start_time.strftime("%I:%M") %>
          <% if gig.sitter_id.nil? %>
            <div class="open">
              <%= link_to @parent_email, parents_path(@gig_parent) %> -
              <% if @gig_time.split('')[0] == "0" %>
                <%= link_to @gig_time.slice(1,@gig_time.length), gig_path(gig) %>
              <% else %>
                <%= link_to @gig_time, gig_path(gig) %>
              <% end %>
            </div>
          <% elsif gig.sitter_id == current_sitter.id %>
            <div class="taken-by-you">
              <%= link_to @parent_email, parents_path(@gig_parent) %> -
              <% if @gig_time.split('')[0] == "0" %>
                <%= link_to @gig_time.slice(1,@gig_time.length), gig_path(gig) %>
              <% else %>
                <%= link_to @gig_time, gig_path(gig) %>
              <% end %>
            </div>
          <% else %>
            <div class="taken">
              <%= link_to @parent_email, parents_path(@gig_parent) %> -
              <% if @gig_time.split('')[0] == "0" %>
                <%= link_to @gig_time.slice(1,@gig_time.length), gig_path(gig) %>
              <% else %>
                <%= link_to @gig_time, gig_path(gig) %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>

    <% end %>

    <div class="client-box">
      <h4>Your clients: </h4>
      <% if @parents.empty? %>
        <p> No sitters yet. </p>
      <% else %>
        <% @parents.each do |parent| %>
          <%= link_to parent.email, parents_path(parent), class: 'parent-emails' %>
          <br>
          <% end %>
      <% end %>
    </div>


  </div>
<% end %>
