<!-- parent views -->
<% if current_parent %>

  <p> Signed in as: <%= @parent.email %> </p>

  <div class="add-gig">
    <p> <%= link_to 'Create New Babysitting Gig', new_gig_path %> </p>
  </div>

  <% @current_time = Time.new %>

  <%= month_calendar events: @gigs do |date, gigs| %>
    <div class="cal-day"> <%= date.day %>
      <br>
      <% gigs.each do |gig| %>
        <%= gig.name %>
    <% end %>
    </div>

  <% end %>

  <div>
    Your babysitters:
    <% if @sitters.empty? %>
      <p> No sitters yet. </p>
    <% else %>
      <% @sitters.each do |sitter| %>
        <%= link_to sitter.email, sitters_path(sitter) %>
        <br>
        <% end %>
    <% end %>
  </div>

  <%= link_to 'Add Sitters', @parent %>

<% else %>

<!-- Sitter Views -->

  <p> Signed in as: <%= @sitter.email %> </p>

  <% @show_ids = @parents.pluck(:id) %>
  <%= @show_ids %>

  <% @current_time = Time.new %>

  <%= month_calendar events: @gigs do |date, gigs| %>
    <div class="cal-day"> <%= date.day %>
      <br>
      <% gigs.each do |gig| %>
        <%= link_to gig.name, gig_path(gig) %>
        <% @gig_parent = Parent.where(id: gig.parent_id).last.email %> -
        <%= @gig_parent.split('@')[0] %>
    <% end %>
    </div>

  <% end %>

  <div>
    Your clients:
    <% if @parents.empty? %>
      <p> No sitters yet. </p>
    <% else %>
      <% @parents.each do |parent| %>
        <%= link_to parent.email, parents_path(parent) %>
        <br>
        <% end %>
    <% end %>
  </div>

  <div class="request-box">
    <%= link_to 'Request Client' %>
  </div>

<% end %>
