<div>
  <h3>Welcome to Your Profile</h3>
  <br>
  <h5>Email: <%= @parent.email %> </h5>
  <br>
  <h3>Add Sitters</h3>
  <div class="parent-show-sitter-form">
    <%= form_with(model: @parent, local: true) do |f| %>
      <%= f.hidden_field :parent, :value => @parent %>
      <%= f.select :sitter_ids, options_from_collection_for_select(Sitter.all, 'id', 'email') %>
      <%= f.submit "Assign", :class=> "submit-button"  %>
    <% end %>
  </div>
</div>
