<div id="gig-new">
  <h3>Update Gig Info:</h3>
  <div></div>
  <div class="new-gig">
    <%= form_with(model: @gig, local: true) do |f| %>
    <%= f.label "Name " %>
    <br>
    <%= f.text_field :name, placeholder: @gig.name, class: 'text-area'  %>
    <br>
    <%= f.label "From" %>
    <br>
    <%= f.datetime_select :start_time, :default => Time.now, ampm: true, use_short_month: true, discard_year: true %>
    <br>
    <%= f.label "Until" %>
    <br>
    <%= f.datetime_select :end_time, :default => Time.now, ampm: true, use_short_month: true, discard_year: true %>
    <br>
    <%= f.label "Description", class: 'form-label' %>
    <br>
    <%= f.text_area(:description, size: '60x12', placeholder: "Add any babysitting details you'd like! \n\n Dinner instructions? \n\n Allergies? \n\n Bedtimes? \n\n Your kid's current favorite game? \n\n Perks for the babysitter? ", class: 'text-area') %>
    <br>
    <%= f.label "Cost" %>
    <br>
    <span>$<%= f.number_field :cost, class: 'text-area'  %></span>
    <br>
    <br>
    <%= f.submit 'Update', :class=> "submit-button" %>
    <% end %>
  </div>


</div>
