<div id="gig-new">
<h1>Add Gig</h1>
<br>
<%= form_with(model: @gig, local: true) do |f| %>
<br>
<%= f.label "Name: ", class: 'form-label' %>
<%= f.text_field :name %>
<br>
<%= f.label "From", class: 'form-label' %>
<%= f.datetime_select :start_time, :default => Time.now, ampm: true %>
<br>
<%= f.label "Until", class: 'form-label' %>
<%= f.datetime_select :end_time, :default => Time.now, ampm: true %>
<br>
<%= f.label "Cost", class: 'form-label' %>
<span>$<%= f.number_field :cost %></span>
<p><%= f.submit %></p>
<% end %>
</div>
