<div id="gig-new">
  <h3>Add your information below:</h3>
  <div></div>
  <div class="new-gig">
    <%= form_with(model: @gig, local: true) do |f| %>
    <%= f.label "Name: ", class: 'form-label' %>
    <%= f.text_field :name %>
    <br>
    <%= f.label "From", class: 'form-label' %>
    <%= f.datetime_select :start_time, :default => Time.now, ampm: true %>
    <br>
    <%= f.label "Until", class: 'form-label' %>
    <%= f.datetime_select :end_time, :default => Time.now, ampm: true %>
    <br>
    <%= f.label "Cost", class: 'form-label' %>
    <span>$<%= f.number_field :cost %></span>
    <br>
    <br>
    <%= f.submit 'Create Gig', :class=> "submit-button" %>
    <% end %>
  </div>

  <%= image_tag "babysitting.jpg", size: "300x300", class: 'right' %>

</div>
