<div class="gig-show" id="gig-show">
  <h2><%= @gig.name.capitalize %>: <small> <%= @gig.start_time.localtime.strftime("%B %d") %> </small></h2>
  <div class="gig-info">
    <h4> From: </h4>
    <p> <%= @gig.start_time.localtime.strftime("%I:%M %p") %></p>
    <h4> Until: </h4>
    <p><%= @gig.end_time.localtime.strftime("%I:%M %p") %></p>
    <h4> Payment: </h4>
    <p> $<%= @gig.cost %></p>
  </div>

  <div class="status">
    <h4> Status: </h4>
    <% if @gig.sitter_id.nil? %>
      <p class="open"> Open </p>
      <br>
      <%= link_to 'Claim This Gig', "gigs/#{@gig.id}", method: :post if current_sitter %>
    <% else %>
      <p class="taken"> Taken by <%= Sitter.where(id: @gig.sitter_id).last.email %> </p>
      <br>
      <%= link_to 'Remove This Gig', "gigs/#{@gig.id}", method: :post if current_sitter %>
    <% end %>
  </div>


  <% if current_parent %>
    <%= link_to 'Delete This Gig', gig_path(@gig), method: :delete, data: { confirm: "Are you sure you don't need this anymore?"}%>
  <% end %>
</div>
